################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/dll-reader/v16/Server/sqlite3
/.vs/dll-reader/v16
/dll-reader/bin/Debug
/dll-reader/obj/Debug
